<div *ngIf="status!=null">
    <div class="d-flex justify-content-center my-3">
      <div class="alert alert-danger" role="alert">
        {{status!.error.message}} - {{status!.message}}
      </div>
    </div>
  </div>
  
  <div *ngIf="status==null">
    <div class="d-flex justify-content-end mb-3">
      <h6>Mostrando {{oPage?.numberOfElements}} de un total de {{oPage?.totalElements}} usuarios.</h6>
    </div>
    <div class="flex justify-content-center mb-3">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
        [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
  
  
    <div class="mb-5 ">
      <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
          <tr>
            <th (click)="doOrder('id')">ID</th>
            <th (click)="doOrder('usuario')">Usuario</th>
            <th (click)="doOrder('nombre')">Nombre</th>
            <th (click)="doOrder('primer_apellido')">1 Apellido</th>
            <th (click)="doOrder('segundo_apellido')">2 Apellido</th>
            <th (click)="doOrder('email')">Email</th>
            <th (click)="doOrder('rol')">Rol</th>
            <th (click)="doOrder('foto')">Foto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of oPage?.content" class="align-middle">
            <td class="text-end"><strong>{{u.id}}</strong></td>
            <td>{{u.usuario}}</td>
            <td>{{u.nombre}}</td>
            <td>{{u.primer_apellido}}</td>
            <td>{{u.segundo_apellido}}</td>
            <td>{{u.email}}</td>
            <td class="text-center">
              <span *ngIf="u.rol==true">User</span>
              <span *ngIf="u.rol==false">Admin</span>
            </td>
            <td>{{u.foto}}</td>
            <td class="text-center">
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button class="btn btn-primary" (click)="onSelectUser(u)"><i
                    class="pi pi-plus-circle"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>